*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.kepala{
    font-weight: bold;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
}
.kepala div{
    display: inline;
}
a{
    text-decoration: none;
    color: black;
}
.kanan{
    float: right;
    margin-right: 200px;
}
.konten1{
    height: 300px;
    background-color: #7e7e7b;
    color: white;
    padding-left: 200px;
}
.konten2{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    background-color: #eef6fa;
    padding-top: 100px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}
table:hover{
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    background-color: white;
}
  
td {
    padding: 15px;
    text-align: center;
}

img{
    border-radius: 100%;
}


.buttonselanjutnya{
    margin-top: 50px;
    width: 180px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.buttonselanjutnya1:link{
  text-decoration: none;
  color: black;
}

.buttonselanjutnya1:visited{
  text-decoration: none;
  color: black;
}

.buttonselanjutnya1:hover{
    transition: 0.5s;
    background-color: #ffffff;
    text-decoration: none;
}

.maribelajar{
  width: 1000px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 100px;
  background-color: white;
  position: absolute;
  margin-left: 180px;
}

.luarmaribelajar{
  width: 100%;
  height: 400px;
  background-color: #FFEB3B;
}


.daftaruntukmulai{
  background-color: #FFEB3B;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 165px;
  width: 200px;
  padding: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  margin-left: 900px;
}

.daftaruntukmulai:link{
  text-decoration: none;
  color: black;
}

.daftaruntukmulai:visited{
  text-decoration: none;
  color: black;
}

.footer{
  background-color: #3f3f3f;
  width: 100%;
  height: 200px;
}

.footer1{
  text-align: center;
  color: white;
  padding-top: 100px;
}

#love{
  width: 50px;
  color: red;
}